extends layout

block content
    .panel.panel-default
      .panel-heading IoT Accelerator Demo UI
      .panel-body 
        p This is not part of the API, just a landing page for demonstartion using a web browser


